{% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'webclient/style.css' %}"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript">
var inactivityTime = function () {
    var t;
    window.onload = resetTimer;
    // DOM Events
    document.onmousemove = resetTimer;
    document.onkeypress = resetTimer;

    function logout() {
      document.getElementById("logout").click();
        alert("You are now logged out.")
        //location.href = 'logout.php'
    }

    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, 900000)
        // 1000 milisec = 1 sec
    }
};
inactivityTime()

// if (inactivityTime()>10000) {
//    document.getElementById("logout").click();
// }
</script>


<!-- <script>
if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script> -->
<body>
  <!-- <?php  
      session_start();  
      if(isset($_SESSION["name"]))  
      {  
           if((time() - $_SESSION['last_login_timestamp']) -gt 10) // 900 = 15 * 60  
           {  
                header("location:logout.php");  
           }  
           else  
           {  
                $_SESSION['last_login_timestamp'] = time();  
                echo "<h1 align='center'>".$_SESSION["name"]."</h1>";  
                echo '<h1 align="center">'.$_SESSION['last_login_timestamp'].'</h1>';  
                echo "<p align='center'><a href='logout.php'>Logout</a></p>";  
           }  
      }  
      else  
      {  
           header('location:login.php');  
      }  
      ?>   -->
    <!--   <script>
      var timoutWarning = 10000; // Display warning in 14 Mins.
var timoutNow = 5000; // Warning has been shown, give the user 1 minute to interact
var logoutUrl = 'logout.php'; // URL to logout page.

var warningTimer;
var timeoutTimer;

// Start warning timer.
function StartWarningTimer() {
    warningTimer = setTimeout("IdleWarning()", timoutWarning);
}

// Reset timers.
function ResetTimeOutTimer() {
    clearTimeout(timeoutTimer);
    StartWarningTimer();
    $("#timeout").dialog('close');
}

// Show idle timeout warning dialog.
function IdleWarning() {
    clearTimeout(warningTimer);
    timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
    $("#timeout").dialog({
        modal: true
    });
    // Add code in the #timeout element to call ResetTimeOutTimer() if
    // the "Stay Logged In" button is clicked
}

// Logout the user.
function IdleTimeout() {
    window.location = logoutUrl;
}
</script> -->

<style>
.tile {
    display: block;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    padding: 10px;
    z-index: 1;
}

.tile1 {
    text-align: center;
    display: block;
    position: relative;
    background-color: #39ac39;
    min-width: 160px;
    padding: 10px;
    z-index: 1;
    color: #ffffff;
}

.tile:hover {background-color: #ddd;} 
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">SPC</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'webclient:index' %}">
            Root folder  <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url  'webclient:folder_add' folder_id%}">Create Folder</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{% url  'webclient:file_add' folder_id%}">Add File</a>
      </li>
        <!-- <form class="navbar-form navbar-right" role="search" method="get" action="#">
        <div class="form-group">
      <input class="form-control" type="text" name="q" value="">

        </div>
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form> -->
        <li class="nav-item">
        <a class="nav-link" href="{% url 'webclient:logout_user' %}">
            <span class="glyphicon glyphicon-off" aria-hidden="true" id="logout"></span>&nbsp; Logout</a>
      </li>
    </ul>

  </div>
</nav>

{% if all_folders %}
    <div class="tile1"><h3>Current working directory id-({{ folder_id }})</h3></div>
    <div class="tile1"><h4>Folders(folder-id)</h4></div>
    <ul>
        {%  for folder in all_folders %}
            <li><div class="tile"><a href="{% url 'webclient:detail' folder.id %}">{{ folder.name }}({{folder.id}})</a></div></li>
        {% endfor %}
    </ul>
{% else %}
    <div class="tile"><h5>(No Folders here yet!)</h5></div>
{% endif %}
<div class="tile1"><h4>Files</h4></div>
{% if files %}
<ul>
    {%  for fold in files%}
            <li><div class="tile"><a href="{{ fold.media_file.url }}">{{ fold.name }}({{fold.id}})</a></div></li>
        {% endfor %}

</ul>
{% else %}
<div class="tile"><h5>(No files here yet!)</h5></div>
{% endif %}
</body>